set_default/generated/
results/
__pycache__/
*.py[cod]

program_script/*.pof
program_script/*.cdf.bak
program_script/generated/

sw/build_option_th*/CMakeCache.txt
sw/build_option_th*/CMakeFiles/
sw/build_option_th*/Makefile
sw/build_option_th*/cmake_install.cmake
sw/build_option_th*/build.ninja
sw/build_option_th*/.ninja_*
sw/build_option_th*/compile_commands.json
sw/build_option_th*/install_manifest.txt
sw/build_option_th*/migration_manager
sw/build_option_th*/output*/
sw/build_option_th*/*.log

sw/pcimem/pcimem
sw/**/*.o
sw/**/*.ko
sw/**/*.cmd
sw/**/*.mod
sw/**/*.mod.c
sw/**/*.dwo
sw/**/Module.symvers
sw/**/modules.order

__pycache__/
*.pyc
